body {
  background-color: #424242;
  overflow: hidden;
  max-width: 960px;
  margin: auto;
}
iframe {
  border: none;
  width: 100%;
  height:calc(60vh - 50px);
}

h1 {
  font-size: 150%;
  font-family: Arial;
  color: red;
}

li a:hover {
  background-color: #333;
}
li a:active {
  color: gold;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header { 
  text-align: center;  
}
#header * {
  margin: 0px;
  color: gold;
}

#bg {
background-image: url('images/wall.jpg'), url('images/duck.png');
background-position: left, right;
background-repeat: no-repeat;
background-color: black;
margin-top: 50px;
padding-top: 10px;
}


#footer {
  text-align: center;  
  height: 60px;
}

#portrait  {
  width:100px;
  height:150px;
}

#github {
text-decoration: none;
}
a:link#github{
  color: black;
}
a:visited#github{
  color:green;
}
a:hover#github{
  color:blue;
}

.projectImage  {
  width:100%;
  height:100%;
}

.content {
  background-color: white;
  text-align: center;
  border-style: solid;
  height: 99vh;
  overflow: auto;
  
}
 
ul.list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  align-items: center;
}

.list li {
  width: 20%;
  height: 100%;
  margin: 5px;
  text-align: center; 
  border-style: solid;
}
